
.rowTitle {
    margin-right: 20px !important;
}

.iconContainer{
    font-size: 30px;
    .icon{
        border-radius: 50%;
        padding: 10px;
    }
    .black{
        color: white;
        background-color: #474444;
    }
    .white {
        color: #474444;
        background-color: white;
    }
}



.title {
    font-size: 30px;
    margin:auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 2px solid;
    &.white{
        color:#fff;
    }
    &.black{
        color:#474444;
    }
}


