
.itemRow{
    font-size: 1.3em;
    letter-spacing: 1.5px;
    color: white;
    margin-top: 10px;
    .icon {
        text-align: center;
    }
    .itemDescription {
        padding-left: 0px;
    }
}