.rowDescription{
    margin-top: 30px;
    .time {
        padding-top: 8px;
        font-size:17px;
    }

    .subtitle{
        font-size: 25px;
        font-weight: bold;
    }

    .description {
        margin-top: 10px;
        color: #585757;
        font-size: 19px;        
    }
}
