
.containerContent {
    padding-left: 5%;
}

.space_top{
    padding-top: 2%;
}

.side_menu{
    background-color: #474444;
}

.buttonLanguage{
    position: fixed;
    left: 60%;
    z-index: 100;
    top:0px;
}